<dt><p>Deux constats majeurs nous ont amenés à la conclusion qu'une révision de la Bible était plus que nécessaire. Tout d'abord, la plupart des bibles modernes les plus diffusées sont basées sur le texte minoritaire comportant une quantité importante de fautes de traduction, d'omissions et de rajouts qui altèrent la compréhension du message et induisent par conséquent le lecteur en erreur. Or il est du devoir de tout chrétien de mettre en pratique la Parole, notamment en veillant sur son authenticité.</>

<p>« Amen, je vous le dis, en effet, tant que le ciel et la Terre ne passeront pas, il ne disparaîtra pas de la torah un yod ou un point jusqu'à ce que tout soit arrivé. Celui donc qui aura renversé l'un de ces plus petits commandements et qui aura ainsi enseigné les gens, sera appelé le plus petit dans le Royaume des cieux. Mais celui qui les observera et qui enseignera à les observer, celui-là sera appelé grand dans le Royaume des cieux. » Matthaios (Matthieu) 5:18-19.</p>

<p>« Car je rends témoignage à quiconque entend les paroles de la prophétie de ce livre : si quelqu'un y ajoute quelque chose, Elohîm le frappera des fléaux décrits dans ce livre. Et si quelqu'un retranche quelque chose des paroles du livre de cette prophétie, Elohîm retranchera sa part du livre de vie, de la cité sainte et des choses qui sont écrites dans ce livre. » Apokalupsis (Apocalypse) 22:18-19.</p>

<p>Nous ne devons pas oublier que la Bible a été initialement écrite en trois langues, à savoir l'hébreu, le grec et quelques versets en araméen. En réalisant cette révision, notre but est de restituer le sens des mots d'origine et d'expurger toute l'influence de l'ennemi. Ce travail a permis de mettre en lumière une évidence : la personne de Yéhoshoua Mashiah (Jésus-Christ) occupe une place centrale de Bereshit (Genèse) à Apokalupsis (Apocalypse), ce qui ne fait que confirmer et attester sa divinité.</p>

<p>Nous pensons qu'il est juste et honnête que la Bible porte le nom de son véritable auteur et qu'elle soit gratuitement diffusée selon sa volonté et l'ordre clair qu'il a donné. Cette Bible s'appelle donc La Bible de Yéhoshoua Mashiah et est gratuitement mise à la disposition de ceux qui souhaitent se la procurer.</p></dt>
<dt>Copyright</dt><dd>Oeuvre protégée dans la catégorie droits moraux - Lois du 11 mars 1957, du 3 juillet 1985, du 1er août 2006, du 12 juin 2009 et du 28 octobre 2009 - Cette oeuvre pourra être utilisée à des fins autres que commerciales dans tous pays (la diffusion, l'impression et la distribution en totalité ou en partie de l’oeuvre doivent uniquement se faire gratuitement) sans en dénaturer la pensée de l'auteur.</dd>
