<dt>Info</dt>
<dd>La Sainte Bible, Version David Martin 1744: Cette Bible est basée sur le Textus Receptus et est très fidèle. C'est une Bible d'étude idéale, bien qu'elle contienne quelques vieux mots français.</dd>

<dt>Source</dt>
<dd>From <a href="http://www.biblemartin.com/">biblemartin.com</a></dd>
